
$incomplete-color: #F44336;
$ongoing-color: #E6853E;
$complete-color: #699576;
$border: #000;

$primary: #87578F;
$light-shade: #F5F4F3;
$light-accent: #8E9FBC;
$dark-shade: #282B3A;
$dark-accent: #7D7C9A;






