@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;1,500;1,700&display=swap');

$montserrat: 'Montserrat', sans-serif;

h1 {
    font-family: $montserrat;
    font-weight: 700;
}

h2 {
    font-family: $montserrat;
}

h3 {
    font-family:$montserrat;
}

label {
    font-family: $montserrat;
}

select {
    font-family: $montserrat;
}

button {
    font-family: $montserrat;
}

input[type=text] {
    font-family: $montserrat;
}

.add-button {
    font-family: $montserrat;
}

::placeholder {
    font-family: $montserrat;
} 