.create-task-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.create-task-progress {
    display: flex;
    align-items: center;
}

button[type="submit"] {
    margin-left: auto;
}
  
  